doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Peerex - Decentralized peer-to-peer asset exchange
    link(rel='stylesheet', type='text/css', href='css/app.css')
    script(src='js/app.js')
  body
    section#hello
      .center
        img.logo(src="../img/peerex.svg")
        p Decentralized peer-to-peer local asset exchange
      ul.socials
        li
          a(href=twitter_url, target="_blank")
            img(src="../img/twitter.svg", alt="Twitter")
        li
          a(href=telegram_channel_url, target="_blank")
            img(src="../img/telegram.svg", alt="Telegram")
